* {
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;

    font-family: 'Times New Roman', Times, serif;
    background: radial-gradient(at bottom right, #d5dbd8 0, #d5dbd8 17.25px, rgba(213, 219, 216, 0.2) 17.25px, rgba(213, 219, 216, 0.2) 34.5px, rgba(213, 219, 216, 0.75) 34.5px, rgba(213, 219, 216, 0.75) 51.75px, rgba(213, 219, 216, 0.25) 51.75px, rgba(213, 219, 216, 0.25) 69px, rgba(213, 219, 216, 0.3) 69px, rgba(213, 219, 216, 0.3) 86.25px, rgba(213, 219, 216, 0.75) 86.25px, rgba(213, 219, 216, 0.75) 103.5px, rgba(213, 219, 216, 0.2) 103.5px, rgba(213, 219, 216, 0.2) 120.75px, transparent 120.75px, transparent 138px), radial-gradient(at top left, transparent 0, transparent 17.25px, rgba(213, 219, 216, 0.2) 17.25px, rgba(213, 219, 216, 0.2) 34.5px, rgba(213, 219, 216, 0.75) 34.5px, rgba(213, 219, 216, 0.75) 51.75px, rgba(213, 219, 216, 0.3) 51.75px, rgba(213, 219, 216, 0.3) 69px, rgba(213, 219, 216, 0.25) 69px, rgba(213, 219, 216, 0.25) 86.25px, rgba(213, 219, 216, 0.75) 86.25px, rgba(213, 219, 216, 0.75) 103.5px, rgba(213, 219, 216, 0.2) 103.5px, rgba(213, 219, 216, 0.2) 120.75px, #d5dbd8 120.75px, #d5dbd8 138px, transparent 138px, transparent 345px);
    background-blend-mode: multiply;
    background-size: 138px 138px, 138px 138px;
    background-color: #586ba4;
    /* color pallette link: https://coolors.co/d5dbd8-586ba4-ff934f-3f826d-957964 */
}
/* Scrollbar Generator  */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #C0C0C0 #DEE3EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    /* width: 5px; */
    width: 15px;
    height: 15px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DEE3EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #DEE3EB;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #DEE3EB;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C0C0C0;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #969696;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #959595;
  }